mixin time-constraints()

	section.time-constraints(id='time-constraints')
		.container
			.time-constraints__inner.time-constraints__inner_pp.section-inner
				.section-small-subtitle Сроки
				h2.time-constraints__title.time-constraints__title_pp.section-title График выполнения работ по этапам
				.time-constraints__row.time-constraints__data.time-constraints__row_pp
					.time-constraints__col.time-constraints__col_lg-2
						.time-constraints__item.time-constraints__item_blue
							.time-constraints__stage Проектирование
							.time-constraints__dates.time-constraints__dates_mobile 10 январь - 05 февраль
					.time-constraints__col.time-constraints__col_lg-2
						.time-constraints__item.time-constraints__item_orange
							.time-constraints__stage Дизайн
							.time-constraints__dates.time-constraints__dates_mobile 05 февраль - 15 март 
					.time-constraints__col.time-constraints__col_lg-2
						.time-constraints__item.time-constraints__item_purple
							.time-constraints__stage Верстка
							.time-constraints__dates.time-constraints__dates_mobile 20 февраль  - 10 март
					.time-constraints__col.time-constraints__col_lg-2
						.time-constraints__item.time-constraints__item_grey
							.time-constraints__stage Интеграция
							.time-constraints__dates.time-constraints__dates_mobile 10 март - 15 март
					.time-constraints__col.time-constraints__col_lg-2
						.time-constraints__item.time-constraints__item_green
							.time-constraints__stage Тестирование
							.time-constraints__dates.time-constraints__dates_mobile 15 март - 30 апрель

				.time-constraints__graphics.time-constraints__data.time-constraints__graphics_pp.wow(id='graphics')
					.time-constraints__graphics-item(id='prototyping')
						.time-constraints__graphic-wrap
							.time-constraints__graphic
								.time-constraints__graphic-line.time-constraints__graphic-line_blue
						.time-constraints__dates-wrap
							.time-constraints__dates 10 январь - 05 февраль

					.time-constraints__graphics-item(id='design')
						.time-constraints__graphic-wrap
							.time-constraints__graphic
								.time-constraints__graphic-line.time-constraints__graphic-line_orange
						.time-constraints__dates-wrap
							.time-constraints__dates 05 февраль - 15 март 

					.time-constraints__graphics-item(id='frontend')
						.time-constraints__graphic-wrap
							.time-constraints__graphic
								.time-constraints__graphic-line.time-constraints__graphic-line_purple
						.time-constraints__dates-wrap
							.time-constraints__dates 20 февраль  - 10 март

					.time-constraints__graphics-item(id='integration')
						.time-constraints__graphic-wrap
							.time-constraints__graphic
								.time-constraints__graphic-line.time-constraints__graphic-line_grey
						.time-constraints__dates-wrap
							.time-constraints__dates 10 март - 15 март

					.time-constraints__graphics-item(id='testing')
						.time-constraints__graphic-wrap
							.time-constraints__graphic
								.time-constraints__graphic-line.time-constraints__graphic-line_green
						.time-constraints__dates-wrap
							.time-constraints__dates 15 март - 30 апрель

				.time-constraints__result
					h3.time-constraints__result-title.section-title-h3 Общий срок — <span>С 10 января по 30 апреля 2019</span>
					.time-constraints__result-descr Сроки предварительные и не учитывают время на согласование со стороны клиента