mixin estimate()
	section.estimate(id='estimate')
		.container
			.estimate__inner.section-inner
				.section-small-subtitle Смета по проекту
				h2.estimate__title.section-title Стоимость и сроки работ по этапам
				.estimate__main-info
					.estimate__main-info-item
						.estimate__row
							.estimate__col-main.estimate__col.estimate__col_md-4.estimate__col_lg-6
								.estimate__item
									.estimate__item-title Проектирование
									ul.estimate__list
										li.estimate__list-item Погружение в специфику
										li.estimate__list-item Анализ функционала конкурентов
										li.estimate__list-item Разработка новой концепции
										li.estimate__list-item Разработка структуры
										li.estimate__list-item Проектирование всех страниц
										li.estimate__list-item Проектирование адаптива

							.estimate__col-value.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Стоимость
									.estimate__item-descr.estimate__item-descr_value 400 000 руб

							.estimate__col-time.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Часы
									.estimate__item-descr 160 часов
									
					.estimate__main-info-item
						.estimate__row
							.estimate__col-main.estimate__col.estimate__col_md-4.estimate__col_lg-6
								.estimate__item
									.estimate__item-title Дизайн
									ul.estimate__list
										li.estimate__list-item Разработка дизайн концепции
										li.estimate__list-item Создание визуального языка
										li.estimate__list-item Поиск и подготовка графики
										li.estimate__list-item Разработка дизайн макетов страниц
										li.estimate__list-item Разработка адаптивной версии макетов
										li.estimate__list-item Написание документации

							.estimate__col-value.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Стоимость
									.estimate__item-descr.estimate__item-descr_value 400 000 руб
										
							.estimate__col-time.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Часы
									.estimate__item-descr 160 часов
					
					.estimate__main-info-item
						.estimate__row
							.estimate__col-main.estimate__col.estimate__col_md-4.estimate__col_lg-6
								.estimate__item
									.estimate__item-title Верстка
									ul.estimate__list
										li.estimate__list-item Верстка дизайн макетов
										li.estimate__list-item Подготовка к интеграции
										li.estimate__list-item Проверка на кроссбраузерность
										li.estimate__list-item Тестирование

							.estimate__col-value.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Стоимость
									.estimate__item-descr.estimate__item-descr_value 400 000 руб
										
							.estimate__col-time.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Часы
									.estimate__item-descr 160 часов

					.estimate__main-info-item
						.estimate__row
							.estimate__col-main.estimate__col.estimate__col_md-4.estimate__col_lg-6
								.estimate__item
									.estimate__item-title Интеграция
									ul.estimate__list
										li.estimate__list-item Сборка структуры
										li.estimate__list-item Программирование
										li.estimate__list-item Адаптация системы администрирования
										li.estimate__list-item Разработка модулей системы									
										li.estimate__list-item Тестирование и перенос сайта
										li.estimate__list-item Сдача проекта


							.estimate__col-value.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Стоимость
									.estimate__item-descr.estimate__item-descr_value 400 000 руб
										
							.estimate__col-time.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Часы
									.estimate__item-descr 160 часов
						

					.estimate__main-info-item
						.estimate__row
							.estimate__col-main.estimate__col.estimate__col_md-7.estimate__col_lg-8
								.estimate__item
									.estimate__item-title Прочее
									ul.estimate__list.estimate__list_no-pad
										li.estimate__list-item Редакция "1С-Битрикс: Управление сайтом". Лицензия Старт. 
					
										
							.estimate__col-value.estimate__col.estimate__col_md-3.estimate__col_lg-2
								.estimate__item
									.estimate__item-title Стоимость
									.estimate__item-descr.estimate__item-descr_value 5 400 руб

				.estimate__result.shadow-item
					h3.estimate__result-title.section-title-h3 Итого
					.estimate__result-row
						.estimate__col-value.estimate__col.estimate__col_md-3.estimate__col_lg-2
							.estimate__item
								.estimate__item-descr.estimate__item-descr_value 1 400 000 руб
								.estimate__item-descr 1 200 рабочих часов
						.estimate__col-contacts.estimate__col.estimate__col_md-7.estimate__col_lg-8
							.estimate__item
								.estimate__item-descr.
									По всем вопросам звоните и пишите: <br>
									<a class='phone' href='tel:+7(812)7151767'>+7 (812) 715-17-67</a>, 
									<a href='mailto:mbarinova@os-company.ru'>mbarinova@os-company.ru</a>



