mixin contacts()
	section.contacts(id='contacts')
		.container
			.contacts__inner.section-inner
				.section-small-subtitle По всем вопросам
				h2.contacts__title.section-title Баринова Марина — менеджер проекта
				.contacts__phone-wrap
					a.contacts__phone.btn(href='tel:+7(812)7151767') +7 (812) 715 17 67
				.contacts__mail-wrap
					a.contacts__mail(href='mailto:mbarinova@os-company.ru') mbarinova@os-company.ru